html {
  overflow-y: scroll;
}

body {
  margin: 0px;
  background: #fff;
}
iframe {
  display: block;
  width: 100%;
  height: calc(100vh - 350px);
}
span {
  padding-left: 20px;
  white-space: nowrap;
}

.container {
  padding: 8px;
}

.container-fluid {
  padding: 8px;
}

#calibrate {
  margin-left: 12px;
}

.btn {
  margin: 4px;
  width: 120px;
  border-radius: 3px;
}

.right {
  float: right;
}
.map {
  text-align: center;
}


.position {
  background: #ddd;
  border: 0px solid;
  border-radius: 6px;
  height: 100px;
  width: 150px;
  margin-left: 12px;
  margin-right: 12px;
}
.position.full {
  background: var(--bs-secondary);
}
.position.source {
  background: var(--bs-success);
}
.position.target {
  background: var(--bs-danger);
}

.position:hover {
  outline: none;
  border: 4px solid #ccc;
}
