html {
  overflow: hidden;
}
body {
  margin: 0px;
  background: #fff;
}
iframe {
  display: block;
  width: 100%;
  height: calc(100vh - 324px);
}
.active {
  text-decoration: underline 2px;
}
.container {
  padding: 8px;
}
.container-fluid {
  padding: 0px;
}
.section {
  padding: 8px;
}
h5 {
  padding-top: 8px;
  margin: 0px;
}
iframe {
  margin-top: -6px;
}

#Controls {
  margin-left: 12px;
}
#Move {
  background: var(--bs-blue)
}
#Reset {
  background: var(--bs-red)
}
#Run {
  background: var(--bs-success)
}

.btn {
  margin: 4px;
  margin-right: 0px;
  width: 120px;
  border-radius: 3px;
}

.map {
  text-align: center;
}
.position {
  background: var(--bs-gray-300);
  border: 0px solid;
  border-radius: 6px;
  height: 100px;
  width: 150px;
  margin-left: 12px;
  margin-right: 12px;
}
.position.full {
  color: var(--bs-white);
  background: var(--bs-gray-700);
}
.position.source {
  color: var(--bs-white);
  background: var(--bs-primary);
}
.position.target {
  color: var(--bs-white);
  background: var(--bs-danger);
}
.position:hover {
  outline: none;
  border: 2px solid var(--bs-gray-500);
}

#Buttons {
  height: 40px;
}
